.dashBoard{
    width: 100%;
    height: 100vh;
}

.dashBoard-grid{
    display: grid;
    width: 100%;
    height: calc(100vh - 50px);
    grid-template-columns: 1fr 350px;
}

@media screen and (max-width:1200px){

    .dashBoard-grid .menual{
        z-index: -1;
        position: absolute;
        background: #444;
        width: 50%;
        height: 400px;
        display: grid;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
        place-content: center;
        border-radius: 20px;
        visibility: hidden;
        opacity: 0;
        transition: .3s ease;
    }
    

    .dashBoard-grid .menual__title i{
        display: inline-block;
        position: absolute;
        top: 15px;
        left: 40px;
        font-size: 30px;
        cursor: pointer;
        color: #eee;
    }

    .dashBoard-grid .menual.active{
        z-index: 99999;
        visibility: visible;
        opacity: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .dashBoard-grid{
        width: 100%;
        height: calc(100vh - 50px);
        grid-template-columns: 1fr;
    }    
   
}

@media screen and (max-width:630px) {
    .dashBoard-grid .menual .menual__title i{
        top: 5px;
        left: 10px;
        font-size: 20px;
    }

    .dashBoard-grid .menual .menual__title{
        font-size: 14px;
    }
}

@media screen and (max-width:430px) {

    .dashBoard-grid .menual .menual__title{
        font-size: 11px;
    }
}

@media screen and (max-width:330px){
    .dashBoard-grid .menual .menual__title{
        padding-top: 20px;
    }
}